<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{shared :: head ('Edit Collector')}">
        <title>Title</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="~{shared :: navbar ('collectors')}"></div>
            <h1>Edit Collector</h1>
            <form method="POST" th:object="${collector}">   
                <input type="hidden" th:field="*{collectorId}">
                <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'validation-err'">
                    <label for="firstName">First Name</label>
                    <input class="form-control" type="text" th:field="*{firstName}">
                    <div class="validation-message" th:if="${#fields.hasErrors('firstName')}" 
                         th:each="error : ${#fields.errors('firstName')}" 
                         th:text="${error}">
                        Error Message
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'validation-err'">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" type="text" th:field="*{lastName}">
                    <div class="validation-message" th:if="${#fields.hasErrors('lastName')}" 
                         th:each="error : ${#fields.errors('lastName')}" 
                         th:text="${error}">
                        Error Message
                    </div>
                </div>
                <div class="form-group">
                    <h3>Pokemon</h3>
                    <div style="overflow: auto; height:200px;">
                        <div th:each="poke : ${pokemon}">
                            <label>
                                <input type="checkbox" name="dexNumbers" th:value="${poke.dexNumber}" 
                                       th:checked="${collector.hasPokemon(poke.dexNumber)}">

                                <span th:text="${poke.name}">Poke Name</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/collector" class="btn btn-default">Cancel</a>
                </div>
            </form>
        </div>
    </body>
</html>